<div class="row align-items-center">
  <div class="col-md-4 text-center">
    <img src="/images/profile/me.jpg" class="img-fluid rounded-circle shadow-sm mb-3" alt="Profile" width="250">
  </div>
  <div class="col-md-8">
    <h1>About Me</h1>
    <p>I'm a student at Ontario Tech University pursuing Computer Science. I specialize in front-end and back-end development with JavaScript / Node.js / Express / MongoDB.</p>
    <p>My interests include data structures, algorithms, and user interface design.</p>
    <a href="/projects" class="btn btn-outline-primary mt-3">
      <i class="fas fa-briefcase me-1"></i>See My Projects
    </a>
  </div>
</div>