<!DOCTYPE html>
<html>
  <head>
    <title>Charm's Portfolio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Welcome to Charm's Portfolio</p>
  </body>
</html>
