<div class="row align-items-center"> <!-- row: groups columns and vertically centers their content -->
  <div class="col-md-4 text-center"> <!--centers -->

    <!-- 
    image element for pfp
    - img path
    - alt, is for accessibility 
    - class for small shadow and custom profile sizing/styling 
    -->
    <img
      src="/images/profile/charm.jpg"
      alt="Charm Guarde" 
      class="shadow-sm profile-img" 
    >

    <!-- 
    social links like github, linkedln
    - link for github with margin and font-size and primary colours for linkedln 
    - font awesome icon for github and linkedln 
    -->
    <div> 
      <a href="https://github.com/CharmGuarde" class="me-2 text-dark fs-4"> 
        <i class="fab fa-github"></i> 
      </a>
      <a href="https://www.linkedin.com/in/charm-guarde-218a7b338/" class="text-primary fs-4"> 
        <i class="fab fa-linkedin"></i> 
      </a>
    </div> 
  </div> 

<!--
  for the section with text for the about me page 
-->

  <div class="col-md-8"> <!-- right coloumn for text -->
    <div class="about-box p-4 text-white rounded-4 shadow-sm"> <!-- for bio ; padding, text color, rounded corners, and shadow -->
      <h2 class="fw-bold mb-3">About Me</h2> <!-- Heading for page -->

      <!--
      about me paragraph section
      - <strong> is to make the text bigger 
      -->
      <p> 
        My name is <strong>Charm Guarde</strong>. 
        I was born in the Philippines and now study IT Networking at Ontario Tech University. 
        Technology has always fascinated me and I enjoy learning more about it as it evolves throughout the years. 
      </p> 

      <p> 
        I've done coding since grade 10 and I am proud of how far I have become. 
        I strive to learn more and apply my knowledge in networking and coding. 
      </p> 

    </div> 
  </div> 

</div> 
