<div class="row align-items-center">
  <div class="col-md-4 text-center">
    <!--picture for about 
    - gets link of where the image is
    - style will change the image to a 
    -->
    <img
      src="/images/profile/charm.jpg" 
      alt="Charm Guarde"
      class="shadow-sm profile-img" 
    >
    <div>
      <a href="https://github.com/CharmGuarde" class="me-2 text-dark fs-4"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/charm-guarde-218a7b338/" class="text-primary fs-4"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>

  <div class="col-md-8">
    <div class="about-box p-4 text-white rounded-4 shadow-sm">
      <h2 class="fw-bold mb-3">About Me</h2>
      <p>
        Hello, my name is <strong>Charm Guarde</strong>. I was born in the Philippines and now study IT Networking at Ontario Tech University. 
        I enjoy exploring how networks connect our world and learning to code new tools.
      </p>
      <p>
        My family inspires me to keep working hard, stay positive, and always improve. This portfolio reflects my growth as a student and future IT professional.
      </p>
    </div>
  </div>

</div>
