<h2 class="section-title">Projects</h2>
<div class="row g-4">
  <div class="col-md-6">
    <div class="card p-3">
      <h5 class="fw-bold">Object Oriented Programming Final Project</h5>
      <p>A trip planner program built using OOP principles.</p>
      <a href="https://drive.google.com/file/d/13LvkbUgJIrqNcOEQcU9lOCO0v6SY0iP4/view" class="btn btn-outline-primary">View Project</a>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card p-3">
      <h5 class="fw-bold">Networking Project</h5>
      <p>Configured a network topology as part of a team exercise.</p>
      <a href="https://docs.google.com/document/d/1B1KoRs9WvzvefAwn8HSrdNnIUfiVaTK20-NjIzs31cU/edit" class="btn btn-outline-primary">View Instructions</a>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card p-3">
      <h5 class="fw-bold">Collaborative Leadership Project</h5>
      <p>Analyzed ethical and unethical leadership traits in group dynamics.</p>
      <a href="https://drive.google.com/file/d/1cgYZSwlPq0O-rpP0ClPSdJkdhJW5F8qj/view" class="btn btn-outline-primary">Watch Video</a>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card p-3">
      <h5 class="fw-bold">Discrete Math Application</h5>
      <p>Connected the Rubik’s Cube to concepts from discrete mathematics.</p>
      <a href="https://docs.google.com/document/d/1ZMnqKc1ad2JRVCJj59lwGJS-S34H0el7k7AFSonU-do/edit" class="btn btn-outline-primary">View Report</a>
    </div>
  </div>
</div>
