
<h2 class="fw-bold text-center text-danger mb-5">My Projects</h2>

<div class="row g-4">
  <div class="col-md-6 col-lg-4">
    <div class="card border-danger shadow-sm h-100">
      <div class="card-body text-center">
        <h5 class="fw-bold text-danger">OOP Project</h5>
        <p>Trip planner program applying object-oriented principles.</p>
        <a href="https://drive.google.com/file/d/13LvkbUgJIrqNcOEQcU9lOCO0v6SY0iP4/view?usp=sharing"
           class="btn btn-danger text-white">View Demo</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card border-danger shadow-sm h-100">
      <div class="card-body text-center">
        <h5 class="fw-bold text-danger">Networking Project</h5>
        <p>Configured a full network topology with IP addressing and routing.</p>
        <a href="https://docs.google.com/document/d/1B1KoRs9WvzvefAwn8HSrdNnIUfiVaTK20-NjIzs31cU/edit?usp=sharing"
           class="btn btn-danger text-white">View Docs</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card border-danger shadow-sm h-100">
      <div class="card-body text-center">
        <h5 class="fw-bold text-danger">Discrete Math Report</h5>
        <p>Explored how Rubik’s Cube relates to discrete mathematics.</p>
        <a href="https://docs.google.com/document/d/1ZMnqKc1ad2JRVCJj59lwGJS-S34H0el7k7AFSonU-do/edit?usp=drive_link"
           class="btn btn-danger text-white">View Report</a>
      </div>
    </div>
  </div>
</div>
